__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
local_settings.py
.flaskenv

.env
.venv
venv/
ENV/
env/
active_venv/
pip-log.txt
pip-delete-this-directory.txt

instance/
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

*.log
logs/
*.err
*.out

htmlcov/
.tox/
.nosetest/
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.idea/
.vscode/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.user

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

scratch/
test_app_login.py
inspect_db.py
test_pw.py
search.py
strip_comments.py
test_pw.py

templates/*.html
templates/partials/
static/css/
static/js/
static/preloaded_cache-a/

!templates/build/
!static/build/

public_offer.txt
public_offer.docx
start.bat
PUSH.md
index.php
